*{
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    line-height: 140%;
}

.container{
    max-width: 1180px;
    margin: 80px auto;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.flex2{
    justify-content: start;
}

h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    color: #333333;;
    width: 580px;
    margin-bottom: 32px;
    margin-right: 20px;
}

.basic_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #333333;;
    width: 379px;
    margin-bottom: 56px;
   
}